doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MY APP
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
		link(rel='stylesheet', href='css/custom.css')
	body
		h1 REGISTER HERE
		form(action='/register', method='POST')
			input(type='text', placeholder='username', name='username')
			input(type='text', placeholder='password', name='password')
			button(type='submit') REGISTER
		br
		a(href="http://localhost:3000/") HOME
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')