doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MY APP
	body
		h1 REGISTER HERE
		form(action='/register', method='POST')
			input(type='text', placeholder='username', name='username')
			input(type='text', placeholder='password', name='password')
			button(type='submit') REGISTER
		br
		a(href="http://localhost:3000/") HOME